{% extends 'layout.html' %}
{% load staticfiles %}
{% load humanize %}

{% block breadcrumb %}
	<li class='title'>Connexions</li>
{% endblock %}


{% block content %}
	<div class="row">

		<div class="col-md-6">
			<div class='panel panel-default'>
				<div class='panel-heading'><i class='fa fa-bar-chart fa fa-large'></i> Depuis les 90 derniers jours <div class='panel-tools'>
						{#					<div class='btn-group'>#}
						{#						<a class='btn' href='#'>#}
						{#							<i class='fa fa-refresh'></i>#}
						{#							Refresh statics#}
						{#						</a>#}
						{#						<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Toggle'>#}
						{#							<i class='fa fa-chevron-down'></i>#}
						{#						</a>#}
						{#					</div>#}
					</div>
				</div>
				<div class='panel-body'>
					<div id="months"></div>
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class='panel panel-default'>
				<div class='panel-heading'><i class='fa fa-trophy'></i> Top {{ tops|length }} des Ressources utilisées en {%  now 'Y' %}</div>
				<div class='panel-body'>
				<table class="table table-condensed table-hover">
					<thead>
					<tr>
						<th>Ressource</th>
						<th>Editeur</th>
						<th>Connexions</th>
					</tr>
					</thead>
					<tbody>
					{% for top in tops %}
					<tr>
						<td><a href="{% url 'ressource' slug=top.ressource_slug %}">{{ top.ressource }}</a></td>
						<td><a href="{% url 'editeur' slug=top.editeur_slug %}">{{ top.editeur }}</a></td>
						<td class="text-right">{{ top.total |intcomma }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				</div>
			</div>
		</div>

		<div class="col-md-6" id="donut">

		</div>
	</div>

{%  endblock %}


{% block js %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/highcharts-fr.js' %}"></script>

{% endblock %}


{% block script %}
	$(document).ready( function()
	{
		$('#months').highcharts({
			chart: {
				type: 'area'
			},
			credits: {
				enabled: false,
			},
			title: {
				text: 'Connexions aux ressources'
			},
			subtitle: {
				text: 'Sur les 90 derniers jours'
			},
			xAxis: {
				type: 'datetime',
			},
			yAxis: {
				allowDecimals: false,
				title: {
					text: 'Connexions'
				},
			},
			tooltip: {
				pointFormat: '<b>{point.y:,.0f}</b> connexions'
			},
			plotOptions: {
				area: {
					marker: {
						enabled: false,
						symbol: 'circle',
						radius: 2,
						states: {
							hover: {
								enabled: true
							}
						}
					}
				}
			},
			series: [{
				showInLegend: false,
				pointStart: Date.UTC({{ start.year }}, {{ start.month }} - 1, {{ start.day }}),
				pointInterval: 24 * 3600 * 1000,
				data: [{% for connexion in connexions %}{{ connexion.total}}, {% endfor %}]
			}]
		});


		// Donut
		var colors = Highcharts.getOptions().colors;
		var data = [
			{% for id, data in donut %}
			{
				editeur:	"{{ data.editeur }}",
				ratio: 		{{ data.ratio|stringformat:"f" }},
				y: 			{{ data.total }},
				color: 		colors[{{ forloop.counter }}],
				drilldown: {
					ressources: [{% for i, d in data.ressources.items %}'{{ d.libelle }}', {% endfor %}],
					data:		[{% for i, d in data.ressources.items %}{{ d.total }}, {% endfor %}],
					ratio:		[{% for i, d in data.ressources.items %}{{ d.ratio|stringformat:"f" }}, {% endfor %}],
				}
			},
			{% endfor %}
			];
		var editorData = [];
		var ressourceData = [];


		// Build the data arrays
		for (var i = 0; i < data.length; i += 1) {

			// add browser data
			editorData.push({
				name:	data[i].editeur,
				y:		data[i].y,
				color:	data[i].color,
				ratio:	data[i].ratio,
			});

			// add version data
			var drillDataLen = data[i].drilldown.data.length;
			for (var j = 0; j < drillDataLen; j += 1) {
				var brightness = 0.2 - (j / drillDataLen) / 5;
				ressourceData.push({
					name:		data[i].drilldown.ressources[j],
					y:			data[i].drilldown.data[j],
					ratio:		{ratio: data[i].drilldown.ratio[j]},
					color:		Highcharts.Color(data[i].color).brighten(brightness).get(),
				});
			}
		}

		// Create the chart
		$('#donut').highcharts({
			chart: {
				type: 'pie'
			},
			credits: {
				enabled: false,
			},
			title: {
				text: 'Répartition des connexions sur l\'année {% now 'Y' %}'
			},
			subtitle: {
				text: ''
			},
			plotOptions: {
				pie: {
					shadow: false,
					center: ['50%', '50%']
				}
			},
			series: [
			{
				name: 'Editeurs',
				data: editorData,
				size: '60%',
				dataLabels: {
					formatter: function () {return null;},
					color: '#ffffff',
					distance: -30
				},
				tooltip:
				{
					pointFormat: '<b>{point.y}</b> connexions',
				},
			},
			{
				name: 'Ressources',
				data: ressourceData,
				size: '80%',
				innerSize: '60%',
				tooltip:
				{
					pointFormat: '<b>{point.y}</b> connexions',
				},
			}]
		});
	});
{% endblock %}

