{% extends 'layout.html' %}
{% load staticfiles %}


{% block breadcrumb %}
	<li class='title'><a href="{% url 'editeurs' %}">Editeurs</a></li>
{% endblock %}


{% block content %}
	<h1><i class="fa fa-stack-overflow"></i> Editeurs</h1>

	<div class="row">
		<div class="col-md-6">
			<div class='panel panel-default'>
				<div class='panel-heading'><i class='fa fa-list-alt'></i> Liste des éditeurs</div>
				<div class='panel-body'>
					<table class="table table-hover table-condensed">
						<thead>
						<tr>
							<th>Editeur</th>
							<th>Ressources</th>
						</tr>
						</thead>
						<tbody>
						{% for editeur in editeurs %}
							<tr>
								<td><a href="{% url 'editeur' slug=editeur.slug %}">{{ editeur.libelle }}</a></td>
								<td class="text-right">{{ editeur.ressources }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class='panel panel-default'>
				<div class='panel-heading'><i class='fa fa-unlink'></i> Liens sans ressource associée</div>
				<div class='panel-body'>
					<table class="table table-condensed table-hover">
						<thead>
						<tr>
							<th>Url</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						{% for lien in liens %}
							<tr>
								<td><a href="{% url 'lien' slug=lien.slug %}">{{ lien.url }}</a></td>
								<td><a href="http://{{ lien.url }}" target="_blank"><i class="fa fa-external-link"></i></a> </td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{%  endblock %}

{% block script %}
$(document).ready(function()
{
	$('table').DataTable(
	{
	});
});
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
{% endblock %}

