{% extends 'layout.html' %}
{% load staticfiles %}


{% block breadcrumb %}
	<li class='title'><a href="{% url 'editeurs' %}">Editeurs</a></li>
	<li class='title'>{{ editeur.libelle }}</li>
{% endblock %}


{% block content %}

	<h2><a href="{% url 'editeurs' %}"><i class="fa fa-arrow-left"></i></a> {{ editeur }}</h2>

	<div class="row">

		<div class="col-md-3">
			<div class='panel panel-default'>
				<div class='panel-heading'><i class='fa fa-download'></i> Liste des ressources</div>
				<div class='panel-body'>
			<table class="table table-hover table-condensed">
				<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{% for ressource in ressources %}
					<tr>
						<td><a href="{% url 'ressource' slug=ressource.slug %}">{{ ressource.libelle}}</a></td>
						<td></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
				</div>
			</div>
		</div>


		<div class="col-md-4">
		</div>
	</div>
{%  endblock %}

{% block script %}
$(document).ready(function()
{
{#	$('table').DataTable(#}
{#	{#}
{#		bLengthChange: false,#}
{#		bFilter: true,#}
{#		bInfo: true,#}
{#		bAutoWidth: true,#}
{#		stateSave: true,#}
{#	});#}
});
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
{% endblock %}

