{% load staticfiles %}<!DOCTYPE html>
<html class='no-js' lang='fr'>
<head>
	<meta charset='utf-8'>
	<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
	<title>EZReports</title>
	<meta content='lab2023' name='author'>
	<meta content='' name='description'>
	<meta content='' name='keywords'>
	<link href="{% static 'css/application.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
	<link href="{% static 'images/favicon-optin-monster.ico' %}" rel="icon" type="image/ico" />
	{% block css %}{% endblock %}
</head>
<body class='main page'>

<!-- Navbar -->
<div class='navbar navbar-default' id='navbar'>
	<a class='navbar-brand' href='{% url 'dashboard' %}'>
		<i class='fa fa-optin-monster'></i> EzReports
	</a>
	<ul class='nav navbar-nav pull-right'>
		<li>
			<a href='{% url 'params' %}' title="Paramètres..."><i class='fa fa-cog'></i></a>
		</li>
		<li>
			<a href='{% url 'logout' %}'><strong>John Doe</strong> <i class='fa fa-sign-out'></i></a>
		</li>
	</ul>
</div>

<div id='wrapper'>
	<!-- Sidebar -->
	<section id='sidebar'>
		<ul id='dock'>
		{% for link in links %}
			<li class='{% if request.resolver_match.url_name == link.name %}active{% endif %} launcher'>
				<i class='fa {{ link.class }}'></i>
				<a href="{% url link.name %}">{{ link.text }}</a>
			</li>
		{% endfor %}
{#			<li class='launcher dropdown hover'>#}
{#				<i class='fa fa-flag'></i>#}
{#				<a href='#'>Reports</a>#}
{#				<ul class='dropdown-menu'>#}
{#					<li class='dropdown-header'>Launcher description</li>#}
{#					<li>#}
{#						<a href='#'>Action</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href='#'>Another action</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href='#'>Something else here</a>#}
{#					</li>#}
{#				</ul>#}
{#			</li>#}
		</ul>
		<div id='beaker'></div>
	</section>

	<!-- Tools -->
	<section id='tools'>
		<ul class='breadcrumb' id='breadcrumb'>
			<li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a></li>
			{% block breadcrumb %}
			{% endblock %}
{#			<li><a href="#">Lorem</a></li>#}
{#			<li class='active'><a href="#">ipsum</a></li>#}
		</ul>

{#		<div id='toolbar'>#}
{#			<div class='btn-group'>#}
{#				<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Building'>#}
{#					<i class='fa fa-building'></i>#}
{#				</a>#}
{#				<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Laptop'>#}
{#					<i class='fa fa-laptop'></i>#}
{#				</a>#}
{#				<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Calendar'>#}
{#					<i class='fa fa-calendar'></i>#}
{#					<span class='badge'>3</span>#}
{#				</a>#}
{#				<a class='btn' data-toggle='toolbar-tooltip' href='#' title='Lemon'>#}
{#					<i class='fa fa-lemon-o'></i>#}
{#				</a>#}
{#			</div>#}
{#		</div>#}
	</section>


	<!-- Content -->
	<div id='content'>
		{% block content %}{% endblock %}
	</div>
	<!-- end content -->

</div>


<!-- Javascripts -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
{#<script src="{% static 'js/jquery-ui.min.js' %}"></script>#}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
{% block js %}{% endblock %}

<script>{% block script %}{% endblock %}</script>

</body>
</html>